<h2>About This Site</h2>

<p>I love screencasts. I believe it's one of the best ways to learn and get better at a language. In these videos, I use the Ruby language and occasionally the Rails framework. The intent is to stay focused on the fundamentals of programming with some tips and tricks sprinkled in. I keep the videos under five minutes to help cut out unnecessary talking, coding, etc. I hope you enjoy and benefit from them.</p>

<h3>License</h3>

<p><span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/MovingImage" property="dc:title" rel="dc:type">FiveMinuteRuby Screencasts</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.fiveminuteruby.com" property="cc:attributionName" rel="cc:attributionURL">Austin Schneider</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License</a>.</p>

<div><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://creativecommons.org/images/public/somerights20.png" /></a></div>