<h2>About This Site</h2>

<p>I love screencasts. I believe it's one of the best ways to learn and get better at a language. In these videos, I use the Ruby language and occasionally the Rails framework. The intent is to stay focused on the fundamentals of programming with some tips and tricks sprinkled in. I keep the videos under five minutes to help cut out unnecessary talking, coding, etc. I hope you enjoy and benefit from them.</p>