<h2>Screencasts</h2>

<div id="screencasts">
  <% screencasts.each do |s| %>
    <%= div_for s do %>
      <h3 class="title"><%= link_to "##{s.number} #{s.title}", screencast_path(s) %></h3>
      <div class="description"><%= simple_format s.description %></div>
    <% end %>
  <% end %>
</div>