development: &development
  http_auth_username: <username>
  http_auth_password: <password>
  tld_size: 1

test:
  <<: *development
  tld_size: 0

cucumber:
  <<: *development
  tld_size: 0

staging:
  <<: *development
  tld_size: 2

production:
  <<: *development